
.content {
    margin-left: 50px;
    padding: 20px;
    background-color: #f7f9fc; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
}

.content h2 {
    color: var(--primary-blue);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase; 
    border-bottom: 3px solid var(--primary-blue);
    padding-bottom: 10px;
    text-align: center; 
}

.pending-request-container {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.pending-request-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

.pending-request-list li {
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

 
.request-link {
    color: var(--primary-blue);
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.request-link .request-name {
    font-weight: bold;
}

.request-link .view-details {
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #3b82f6;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
}

 

.no-request-message {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primary-blue);
    padding: 20px;
    font-weight: 500;
}

:root {
    --primary-blue: #1e3a8a;   
    --light-blue: #ebf4ff;     
    --hover-blue: #3b82f6;    
    --white: #ffffff;          
    --shadow-color: rgba(0, 0, 0, 0.1); 
}