:root {
    --primary-color: #1e40af;
    --secondary-color: #3b82f6;
    --background-color: #f0f9ff;
    --text-color: #1e293b;
    --card-bg-color: #ffffff;
    --navbar-bg-color: #e0f2fe;
    --form-bg-color: #e0e7ff;
    --button-bg: #3b82f6;
    --button-hover: #2563eb;
    --modal-bg: #1f2937;
    --modal-overlay: rgba(0, 0, 0, 0.6);
  }
  
  body {
    margin: 0;
    font-family: 'arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  
  
  
   
  /* Main Content Styling */
  .main-content {
    margin-left: 175px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 30px;
    width: 1300px;
    height: 80vh;
    background-color: var(--card-bg-color);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading */
  .heading {
    margin-top: 10px;
    text-align: center;
    font-size: 60px;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-family: 'Georgia', sans-serif;
  }
  
  /* Memo List Styling */
  .memolist {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
    width: 800px;
    margin-left: 250px;
  }
  
  .memoitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--form-bg-color);
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .memoitem h1 {
    font-size: 22px;
    color: var(--primary-color);
  }
  
  /* Buttons Styling */
  .viewbtn {
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .viewbtn:hover {
    background-color: var(--button-hover);
  }
  
  .continue-button {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    border: none;
    font-size: 1.1rem;
    background-color: var(--button-bg);
    color: white;
    width: 200px;
    height: 50px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .continue-button:hover {
    background-color: var(--button-hover);
  }
  
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 0;
  }
  
  .req-date {
    font-size: 0.8rem;
    font-weight: 400;
    color: #707070;
    margin-bottom: 10px;
  }
  
  .req-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .no-reqs {
    font-size: 1.5rem;
    font-weight: 400;
    color: #707070;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
  
  .reqlist-container {
    height: 60vh;
    overflow-y: auto;
  }
  