@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
:root {
    --primary-color: #1e40af;
    --secondary-color: #3b82f6;
    --background-color: #f0f9ff;
    --text-color: #1e293b;
    --card-bg-color: #ffffff;
    --navbar-bg-color: #e0f2fe;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}
.select-minute-container{
    margin: auto;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 20px;
    border: 0.5px solid #bcbcbc;
    border-radius: 10px;
    font-family: "EB Garamond", serif;
    font-size : 1.2rem;
    box-shadow: 0 0 10px #0a0a0a3c;
    text-align: center;

}
.select-minute-container h1{
    font-family: "Ubuntu", serif;
    font-size: 2rem;
    font-weight:500;
    color: var(--primary-color);
}
.select-minute-container select{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    font-family: "EB Garamond", serif;
    font-size : 1.1rem;
    color: var(--secondary-color);
}
.select-minute-container button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #b1b1b1;
    font-family: Arial, Helvetica, sans-serif;
    font-size : 1.2rem;
    background-color: var(--secondary-color);
    color: white;
    display: block;
    width: 20%;
    margin: 10px auto;
    cursor: pointer;
}
#cancelButton{
    background-color: #ffffff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);

}
 .calender{
    padding-top: 40px
}