@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


body {
    font-family: 'Arial', sans-serifif;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.navbar button{
    width: 20px;
    display: inline;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    background-color:#e8f4fc; 
    ;  
}
.container h1{
    text-align: center;
}
fieldsContainer{
    border: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-bottom: 20px;
}
.form-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addfieldbtn{
    color: white;
    background-color: rgb(81, 78, 78);
    width: 250px;

}
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #6b5b95;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 50%;
    align-items: center;
}

button:hover {
    background-color: #3c2d5b;
}
